.menu__link {
    text-decoration: none;
    color: #808080;
}

.menu__link--activo {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
    color: #333;
}